
@font-face{
    font-family: "Retroica";
    src: url("../fonts/Retroica.ttf");
    font-family: "Pragmatica";
    src: url("../fonts/Pragmatica-ExtraLight.ttf");
    font-family: "Verdana";
    src: url("../fonts/Verdana.ttf");
}