$text__reset: 62.5%; 
$todoAncho: 100%;
$nada:none;
$textRetroica: "Retroica", sans-serif;
$textPragmatica: "Pragmatica", sans-serif;
$textVerdana: "Verdana", sans-serif;
$textRoboto: "Roboto", sans-serif;
$textBasic: "Basic", sans-serif;
$colorBlanco: white;
$colorNegro: black;
$transicionColor: color 1s;
$colorNaranja: #e93b00;
$shadowText: 4px 4px black;
$tituloGrandes: 6rem "Verdana", sans-serif;
$gridColPresentacion: 55% 1fr ;
$gridRowPresentacion: 50% 1fr;
$marginLogo: 50px 0 0 50px;
$centrar: center;
$borderContacto:solid 2px black;
$textoBoton: 20px "Verdana", sans-serif;
$marginTextVideo: 0 150px 50px 150px;
$paddingTextVideo: 0 50px 0 50px;
$backServicios: linear-gradient(to left,black,#e93b00);
$gridColServicios: 1fr 1fr 1f;
$gridRowServicios: 120px 1fr 1fr;
$textComp: 1.5rem "Retroica", sans-serif;
$textParrafo: 2rem "Basic" , sans-serif;
$gridColFooter: repeat(3,1fr);
$gridRowFooter: 100px 1fr 1fr;
$textoFooter: 1.2rem "Pragmatica", sans-serif;